body {
  background-color: #ffd282;
}
h1 {
  font-family: condensed, courier;
  text-align: center;
  color: #642d10;
}

p {
  color: #9c622c;
}
a {
  color: #36220f;
}

footer {
  text-align: center;
}
